global
    daemon
    maxconn 256

defaults
    mode http
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms

frontend http-in
    bind *:7480
    default_backend rgws


backend rgws
{% for host in groups['rgws'] %}
    server {{ hostvars[host]['inventory_hostname'] }} {{ hostvars[host]['ansible_bond0']['ipv4']['address'] }}:7480
{% endfor %}


listen admin
    bind *:8080
    stats enable
